<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x"
>
  <mat-drawer-content class="p-6 flex flex-col">
    <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm)">
      <mat-form-field appearance="outline" class="w-max p-3 m-1">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="product.title" name="title" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-max p-3">
        <mat-label>Precio</mat-label>
        <input
          matInput
          type="text"
          pattern="[0-9]*"
          [(ngModel)]="product.price"
          name="price"
        />
        <mat-error *ngIf="productForm.controls['price'].invalid"
          >El valor ingresado no es un número</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-max p-3 m-1">
        <mat-label>Descripcion</mat-label>
        <input matInput [(ngModel)]="product.description" name="description" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-max p-3 m-1">
        <mat-label>Categoria</mat-label>
        <input matInput [(ngModel)]="product.category" name="category" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-max p-3 m-1">
        <mat-label>Url Imagen</mat-label>
        <input matInput [(ngModel)]="product.image" name="image" />
      </mat-form-field>
      <div>
        <button type="reset" class="mr-3" mat-stroked-button color="primary">
          Limpiar Formulario
        </button>
        <button type="submit" mat-stroked-button color="primary">
          Editar Producto
        </button>
      </div>
    </form>
  </mat-drawer-content>
</mat-drawer-container>
